if posts
  h2 Blog
  ul
    each post in posts
      li
        a(href="/blog/" + post.slug)
          = `${post.title} by ${post.author.first_name} ${post.author.last_name}`
  if previous_page
    a(href="/blog/p/" + previous_page) Prev
  if next_page
    a(href="/blog/p/" + next_page) Next
if post
  h2= post.title
  div= `Published ${published.getDate()}/${published.getMonth()+1}/${published.getFullYear()}`
  if post.categories.length > 0
    each category in post.categories
      a(href="/category/" + category.slug)= category.name
  br
  div= `${post.author.first_name} ${post.author.last_name}`
  div!= post.body
